*~

*.class

# Package Files #
*.jar
*.war
*.ear

# Mac and IntelliJ
.DS_Store
.idea
*.iml

# Target
/*/target/

# Objy
*.JNL
*.connection
*.DB
*.ipr

*.iws

*.fdb
/target/

ovation.log
rebel.xml
application/src/main/osx/Ovation DMG~.dmgCanvas/Disk Image

*.versionsBackup

*.log
*.log.gz
