*~

*.class

# Package Files #
*.jar
*.war
*.ear

# Mac and IntelliJ
.DS_Store
.idea
*.iml

# Target
/*/target/

# Objy
*.JNL
*.connection
*.DB
*.ipr

*.iws

*.fdb
/target/
application/ovation.log

ovation.log

rebel.xml